<body>
  <%= link_to root_path, class: "nav-link" do %>
    <div class="d-flex flex-row align-items-center m-3">
      <img src="/assets/arrow-bar-left.svg" alt="arrow-bar-left">
      <span class="ml-2"><%= t("globals.return") %></span>
    </div>
  <% end %>

  <div class="container col-md-4 mt-4 shadow-box border p-3 rounded">
    <h2 class="mb-4"><%= t("devise.connexion.edit_user") %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-group mb-3">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: t("devise.connexion.email"),
                      input_html: { class: 'form-control' } %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p class="text-warning"><%= t("devise.registrations.pending_reconfirmation", email: resource.unconfirmed_email) %></p>
        <% end %>

        <div class="form-group mb-3">
          <%= f.input :password,
                      hint: t("devise.passwords.leave_blank"),
                      required: false,
                      label: t("devise.connexion.new_password"),
                      input_html: { autocomplete: "new-password", class: 'form-control' } %>
        </div>

        <div class="form-group mb-3">
          <%= f.input :password_confirmation,
                      label: t("devise.connexion.new_password_confirmation"),
                      required: false,
                      input_html: { autocomplete: "new-password", class: 'form-control' } %>
        </div>

        <div class="form-group mb-3">
          <%= f.input :current_password,
                      label: t("devise.connexion.current_password"),
                      required: true,
                      input_html: { autocomplete: "current-password", class: 'form-control' } %>
        </div>
      </div>

      <div class="form-actions d-flex justify-content-center mb-3">
        <%= f.button :submit, t("devise.registrations.update"), class: "btn btn-primary" %>
      </div>
    <% end %>

   <div class="d-flex flex-column align-items-center m-3">
      <h3 class="mt-4"><%= t("devise.registrations.cancel_account") %></h3>

      <div class="mb-3 mt-2">
        <%= button_to t("devise.registrations.cancel_account"), registration_path(resource_name),
                      data: { confirm: t("devise.confirmations.are_you_sure"), turbo_confirm: "Are you sure?" },
                      method: :delete,
                      class: "btn btn-danger btn-sm" %>
      </div>
    </div>



    <div class="d-flex justify-content-center">
      <%= link_to t("globals.return"), :back, class: "btn btn-secondary" %>
    </div>
  </div>
</body>
