<body>
   <div class="d-flex justify-content-between align-items-start mt-4 mr-4">
      <%= link_to root_path, class: "nav-link" do %>
        <div class="d-flex flex-row align-items-center m-3">
          <img src="/assets/arrow-bar-left.svg" alt="arrow-bar-left">
          <span class="ml-2"><%= t("globals.return") %></span>
        </div>
      <% end %>

      <div class="d-flex align-items-center mr-3">
          <% if @article.image.attached? %>
            <%= image_tag @article.image, size: "150x150", class: "img-thumbnail rounded-circle mr-4" %>
          <% end %>
      </div>
    </div>

  <div class="container col-md-8 mt-4 pb-3 d-flex-column justify-content-center">
    <h3><%= t('globals.article_form.on_going') %></h3>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <tbody>
            <tr>
              <th><%= t('globals.article_form.poke_name') %></th>
              <td><%=@article.name %></td>
            </tr>
            <tr>
              <th><%= t('globals.article_form.description') %></th>
              <td><%=@article.description %></td>
            </tr>
            <tr>
              <th><%= t('globals.article_form.first_price') %></th>
              <td><%=@article.first_price %></td>
            </tr>
            <tr>
              <th><%= t('globals.article_form.start_date') %></th>
              <td><%= @article.start_date.strftime('%d/%m/%Y %H:%M') %></td>
            </tr>
            <tr>
              <th><%= t('globals.article_form.end_date') %></th>
              <td><%= @article.end_date.strftime('%d/%m/%Y %H:%M') %></td>
            </tr>
            <tr>
              <th><%= t('globals.article_form.actual_amount') %></th>
              <td><%=@article.bids.any? ? @highest_bid : @article.first_price %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container col-md-8 mt-4 pb-3 d-flex justify-content-center">
    <% if @article.start_date.strftime('%d/%m/%Y %H:%M') < DateTime.now.strftime('%d/%m/%Y %H:%M') && DateTime.now.strftime('%d/%m/%Y %H:%M') < @article.end_date.strftime('%d/%m/%Y %H:%M') %>
          <%= simple_form_for [@article, @bid] do |f| %>
            <%= f.input :bid_price, label: t("bid.amount") %>
            <div class="d-flex justify-content-center rounded red">
              <%= f.button :submit, value: t("bid.create_bid") %>
            </div>
          <% end %>
    <% end %>
  </div>

  <div class="container col-md-4 mt-4 pb-3">
    <ul class="d-flex justify-content-center">
      <% if user_signed_in? %>
        <% if current_user.id == @article_user&.id %>
          <% if @article.start_date.strftime('%d/%m/%Y %H:%M') > DateTime.now.strftime('%d/%m/%Y %H:%M') %>
            <li class="nav-item m-2">
            <%= form_with(model: @article, method: :delete, url: article_path(@article), data: { turbo_confirm: "Are you sure?" }) do |form| %>
              <%= form.button t("globals.show_page.delete"), class: "delete-button text-center", type: :submit%>
              <% end %>
            </li>
            <li class="nav-item m-2 d-flex justify-content-center text-center">
              <%= link_to t("globals.show_page.modify"), edit_article_path(@article), class:"update-button" %>
            </li>
          <% end %>
        <% end %>
      <% end %>
      </li>
    </ul>
  </div>

  <div class="container">
    <% if @article.start_date.strftime('%d/%m/%Y %H:%M') < DateTime.now.strftime('%d/%m/%Y %H:%M') && DateTime.now.strftime('%d/%m/%Y %H:%M') < @article.end_date.strftime('%d/%m/%Y %H:%M') %>
      <table class=" table table-striped">
          <thead>
            <tr>
            <div class="row d-flex text-justify-center">
              <th scope="col" class="col-4">Pseudo</th>
              <th scope="col" class="col-4"><%= t('globals.article_form.actual_amount') %></th>
              <th scope="col" class="col-4">Date</th>
            </div>
            </tr>
          </thead>
          <tbody>
            <% @bids.each do |bid| %>
                <tr>
                  <td><%= bid.user.first_name %></td>
                  <td><%= bid.bid_price %></td>
                  <td><%= bid.created_at.strftime('%d/%m/%Y %H:%M') %>
                </tr>
            <% end %>
          </tbody>
      </table>
    <% end  %>
    <div class="d-flex align-items-center flex-column">
      <% if @article.start_date.strftime('%d/%m/%Y %H:%M') > DateTime.now.strftime('%d/%m/%Y %H:%M') %>
        <p><%= t('globals.table.not_start')%></p>
      <% elsif @article.end_date.strftime('%d/%m/%Y %H:%M') < DateTime.now.strftime('%d/%m/%Y %H:%M') %>
        <p><%= t('globals.table.ended')%></p>
        <% if @winner.is_a?(User) %>
          <p><%= t('globals.table.winner')%> : <%= @winner.pseudo %></p>
        <% else %>
          <p><%= t('globals.table.winner')%> : <%= @winner %></p>
        <% end %>
      <% end %>
    </div>
    <% if @winner.is_a?(User) && @winner.id == current_user.id %>
      <div class="d-flex justify-content-center">
        <div class="rounded red p-2 m-2 w-50 text-center">
            <%= link_to t("article.withdraw_link"), withdraw_article_path(@article), class: "text-dark" %>
        </div>
      </div>
    <% end %>
  </div>
</body>
