<div>

  <nav>
    <%= render "shared/navbar" %>
  </nav>

  <body>
    <div class="container col-md-4 mt-4 pb-3 d-flex-column justify-content-center">
        <p><%=@article.name %></p>
        <p><%=@article.description %></p>
        <p><%=@article.first_price %></p>
        <p><%= @article.start_date.strftime('%d/%m/%Y %H:%M') %></p>
        <p><%= @article.end_date.strftime('%d/%m/%Y %H:%M') %></p>
        
        <% if @article.bids.count == 0 %>
          <p><%=@article.first_price %></p>
        <% else %>
          <p><%= @article.get_highest_bid %></p>
        <% end %>

        <% if @article.start_date < DateTime.now && @article.end_date > DateTime.now %>
            <%= simple_form_for [@article, @bid] do |f| %>
            <%= f.input :bid_price %>
            <%= f.button :submit %>
          <% end %>
        <% end %>
    </div>

  <p> <%= DateTime.now %></p>
  <p> <%= @article.start_date %></p>

    <div class="container col-md-4 mt-4 pb-3">
      <ul class="d-flex justify-content-center">
        <% if current_user.id == @article_user&.id && @article.start_date > DateTime.now && @article.end_date >= DateTime.now %>
          <li class="nav-item m-2">
           <%= form_with(model: @article, method: :delete, url: article_path(@article), data: { turbo_confirm: "Are you sure?" }) do |form| %>
            <%= form.button t("globals.show_page.delete"), type: :submit%>
            <% end %>

          </li>
          <li class="nav-item m-2">
            <%= link_to t("globals.show_page.modify"), edit_article_path(@article) %>
        <% end %>
        </li>
      </ul>
    </div>

    <div class="container">
      <table class=" table table-striped">
          <thead>
            <tr>
            <div class="row d-flex text-justify-center">
              <th scope="col" class="col-4">Pseudo</th>
              <th scope="col" class="col-4">Montant</th>
              <th scope="col" class="col-4">Date</th>
            </div>
            </tr>
          </thead>
          <tbody>
            <% @bids.each do |bid| %>
                <tr>
                  <td><%= bid.user.first_name %></td>
                  <td><%= bid.bid_price %></td>
                  <td><%= bid.created_at.strftime('%d/%m/%Y %H:%M') %>
                </tr>  
            <% end %>
          </tbody>
      </table>  
    </div>

  </body>




</div>
