<div class="row">
    <div class="col-6"> 
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="NotStart" id="filterNotStart">
            <label class="form-check-label" for="notStart">
                <%= t('globals.filter.not_start') %>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="OngGoing" id="filterOngGoing">
            <label class="form-check-label" for="ongGoing">
                <%= t('globals.filter.on_going') %>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Ended" id="filterEnded">
            <label class="form-check-label" for="ended">
                <%= t('globals.filter.ended') %>
            </label>
        </div>
    </div>
    <div class="col-6"> 
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Won" id="filterWon">
            <label class="form-check-label" for="won">
                <%= t('globals.filter.won') %>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Bet" id="filterBet">
            <label class="form-check-label" for="bet">
                <%= t('globals.filter.where_i_bet') %>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Created" id="filterCreated">
            <label class="form-check-label" for="created">
                <%= t('globals.filter.i_created') %>
            </label>
        </div>
    <div>
</div>    
