<nav class="navbar navbar-expand-lg navbar-light bg-light text-end">
 
  <div class="logo-container">
    <a href="<%= root_path %>"><%= image_tag('marteau.jpeg', class: 'logo') %></a>
  </div>

  <div>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <p class="nav-link"> Hello <%= current_user.first_name %></p>
        </li>
      <% end %>
      <% if I18n.locale == :fr %>
        <li class="nav-item">
          <%= link_to "En", url_for(locale: 'en'), class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Fr", url_for(locale: 'fr'), class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

  </div>


  <div class="ms-auto">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to "Déconnexion", destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t("devise.connexion.login"), new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t("devise.connexion.sign_up"), new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
  </div>
</nav>



