<nav class="navbar navbar-expand-lg text-end custom-nav">

  <div class="logo-container mx-3">
    <%= image_tag('icone.jpg', class: 'logo') %>
  </div>

  <div>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to t("globals.user_form.my_profile"), user_path(current_user), class:"nav-link" %>
        </li>
        <li>
          <%= link_to t('globals.home_page.home'), root_path, class:"nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "Pokédex", pokemons_index_path, class:"nav-link" %>
        </li>
      <% end %>
      <% if I18n.locale == :fr %>
        <li class="nav-item">
          <%= link_to "En", url_for(locale: 'en'), class:"nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Fr", url_for(locale: 'fr'), class:"nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="ms-auto">
      <ul class="navbar-nav m-auto">
        <% if user_signed_in? %>
          <% if !current_page?(new_article_path) %>
            <li class="nav-item mx-2">
              <%= link_to t("globals.home_page.create_article"), new_article_path, class:"nav-link" %>
            </li>
          <% end %>
          <li class="logout-link mx-2">
            <%= button_to t("devise.connexion.log_out"), destroy_user_session_path, method: :delete, class:"logout-link" %>
          </li>
        <% else %>
          <li class="nav-item mx-2">
            <%= link_to t("devise.connexion.login"), new_user_session_path, class:"nav-link" %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to t("devise.connexion.sign_up"), new_user_registration_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>
  </div>
</nav>
