<body>
  <div class="container col-md-4 mt-4 shadow-box border p-4 rounded">
    
    <%= simple_form_for @user do |f| %>
      <%= f.input :pseudo, label:  t("globals.user_form.pseudo") %>
      <%= f.input :first_name, label:  t("globals.user_form.first_name") %>
      <%= f.input :last_name, label:  t("globals.user_form.last_name") %>
      <%= f.input :email, label:  t("globals.user_form.email") %>
      <%= f.input :phone, label:  t("globals.user_form.phone")%>
      <%= f.input :street, label:  t("globals.user_form.street") %>
      <%= f.input :zip_code, label:  t("globals.user_form.zip_code") %>
      <%= f.input :city, label:  t("globals.user_form.city") %>
      <%= f.input :credit, label:  t("globals.user_form.credit"), :readonly => true %>

      <div class="d-flex justify-content-center rounded red">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</body>