<body>
  <div class="container">
    <h1> <%= t("globals.home_page.title") %></h1>
    <div data-controller="articles-filter">
      <div class="row">
        <div class="col-6 mb-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="NotStart" id="filterNotStart">
                <label class="form-check-label" for="notStart">
                    <%= t('globals.filter.not_start') %>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="OngGoing" id="filterOngGoing">
                <label class="form-check-label" for="ongGoing">
                    <%= t('globals.filter.on_going') %>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Ended" id="filterEnded">
                <label class="form-check-label" for="ended">
                    <%= t('globals.filter.ended') %>
                </label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Won" id="filterWon">
                <label class="form-check-label" for="won">
                    <%= t('globals.filter.won') %>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Bet" id="filterBet">
                <label class="form-check-label" for="bet">
                    <%= t('globals.filter.where_i_bet') %>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Created" id="filterCreated">
                <label class="form-check-label" for="created">
                    <%= t('globals.filter.i_created') %>
                </label>
            </div>
        </div>
      </div>
    </div>
    <div>
      <input type="text" id="searchInput" class="form-control col-md-3 mb-3" placeholder="Rechercher par nom...">
    </div>

    <div class="row" id="articles-list">
      <% @articles.each do |article| %>
        <div class="col-md-4 mb-3 article"
          data-name="<%= article.name.downcase %>"
          data-current-user-id="<%= @current_user_id %>"
          data-start-date="<%= article.start_date %>"
          data-end-date="<%= article.end_date %>"
          data-user-id="<%= article.user_id %>"
          data-bids='<%= article.bids.to_json %>'>
          <div class="card">
            <%= link_to article_path(article), class: "nav-link" do %>
              <div class="row g-0">
                <div class="col-md-6">
                  <%= image_tag "marteau.jpeg", class: "img-fluid p-2" %>
                </div>
                <div class="col-md-6" style="height: 175px">
                  <div class="h-50 pt-3">
                    <h5 class="card-title"><%= t("globals.home_page.poke_name") %>: <%= article.name.capitalize %></h5>
                  </div>
                  <div class="h-50">
                    <p class="card-text"><%= t("globals.home_page.poke_price") %>: <%= article.first_price %></p>
                    <p class="card-text"><%= t("globals.home_page.poke_start_date") %>: <%= article.start_date.strftime('%d/%m/%Y %H:%M') %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div>
      <%= paginate @articles, param_name: 'article_page' %>
  </div>
</body>

<%= javascript_include_tag 'filters' %>
